<div class="view card col-md-10">
    <header class="card-header h4">
        <i class="fa fa-clock text-info"></i>
        Most Recent Posts
    </header>
    <div class="card-body mb-2">
        <table class="table table-striped table-responsive table-info">
            <thead>
                <tr>
                    <td hidden="hidden">#</td>
                    <td>Author</td>
                    <td>Title</td>
                    <td><i class="fa fa-cog fa-spin"></i></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td hidden="hidden">#</td>
                    <td>James Camron</td>
                    <td>Titanic - Lost In the Blues</td>
                    <td title="View Content"><button class="btn btn-sm btn-outline-primary"><i
                                class="fa fa-eye"></i></button></td>
                </tr>
                <tr>
                    <td hidden="hidden">#</td>
                    <td>J.K Rowling</td>
                    <td>Harry Potter - Fantastic Beasts: Secrets of Dumbledor</td>
                    <td title="View Content"><button class="btn btn-sm btn-outline-primary"><i
                                class="fa fa-eye"></i></button></td>
                </tr>
                <tr>
                    <td hidden="hidden">#</td>
                    <td>Andrew Wommack</td>
                    <td>You've Already Got! - Quit trying to get it</td>
                    <td title="View Content"><button class="btn btn-sm btn-outline-primary"><i
                                class="fa fa-eye"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted text-center">
        &copy;2022. All rights reserved |
        <small class="text-info">
            Powered by
            <i class="fa fa-signature mx-1 text-primary"></i>
            eWriter
        </small>
    </div>
</div>