<div class="view card col-md-6">
    <header class="card-header h4">
        <i class="fa fa-pen text-primary"></i>
        Write a Post
    </header>
    <div class="card-body mb-2">
        <form method="post" action="/api/new" role="form">
            <div class="form-group mb-2">
                <label for="content-title" class="label">Title</label>
                <input type="text"
                    placeholder="ex: Tales By Moonlight" 
                    class="form-control input-sm">
                </div>
            <div class="form-group mb-2">
                <label for="content" class="label">Description</label>
                <textarea
                    placeholder="The words of a ready writer"
                    class="form-control input-sm" name="content"></textarea>
            </div>
            <div class="input-group mb-2">
                <input 
                    type="text"
                    id="tags"
                    class="form-control input-sm" 
                    placeholder="Recipient's username" 
                    aria-describedby="button-addon2">
                <button 
                    class="btn btn-info" 
                    type="button"
                    id="tag">
                    <i class="fa fa-plus-circle text-white"></i>
                    Tag
                </button>
              </div>
            <div class="form-group disabled mb-2" 
                id="tag-badge">
                <span class="badge rounded-pill text-bg-light">drama</span>
                <span class="badge rounded-pill text-bg-danger">horror</span>
                <span class="badge rounded-pill text-bg-warning">thriller</span>
            </div>
            <button 
                class="btn btn-sm mt-2 btn-outline-info" 
                type="button"
                id="publish">
                Post Content
            </button>
        </form>
    </div>
    <div 
        class="card-footer text-muted text-center">
        &copy;2022. All rights reserved | 
        <small class="text-info">
            Powered by 
            <i class="fa fa-signature mx-1 text-primary"></i>
            eWriter
        </small>
    </div>
</div>