<div class="view text-center py-2 px-5 bg-dark opacity container">
    <div class="writer-content">
        <blockquote>
            <h2 class="text-info py-2 text-capitalize">“Good first impressions....are good for business.”
            </h2>
            <figcaption class="blockquote-footer text-white">CS</figcaption>
        </blockquote>
        <blockquote>
            <h2 class="text-info py-2 text-capitalize">“Give Words to your Thoughts.”</h2>
            <figcaption class="blockquote-footer text-white">Thoughtful Minds</figcaption>
        </blockquote>
        <blockquote>
            <h2 class="text-info py-2 text-capitalize">“Content, in writing, is supreme.”
            </h2>
            <figcaption class="blockquote-footer text-white">Ogwo David Emenike</figcaption>
        </blockquote>
        <blockquote>
            <h2 class="text-info py-2 text-capitalize">“Well written article as like as Wrist Watch of Dad, that's
                hookup you wear it again and again”
            </h2>
            <figcaption class="blockquote-footer text-white">Momenul Ahmad</figcaption>
        </blockquote>
        <blockquote>
            <h2 class="text-info py-2 text-capitalize">“Writing is a chain of thoughts that we put into words!”
            </h2>
            <figcaption class="blockquote-footer text-white">Textuar</figcaption>
        </blockquote>

    </div>
    <a href="#" class="btn btn-lg btn-primary mb-1 new-article">Get Started</a>
</div>
<script>

    $('.writer-content').slick({
        autoplay: true,
        dots: true,
        arrows: false,
        fade: true,
        cssEase: 'linear',
        speed: 500,
        // adaptiveHeight:true,
        pauseOnFocus: true,
        autoplaySpeed: 5000
    })
</script>