<tr>
    <td hidden="hidden">#</td>
    <td>James Camron</td>
    <td>Titanic - Lost In the Blues</td>
    <td title="View Content"><button action="api/view/${locals.writer.id}" class="btn btn-sm btn-outline-primary"><i class="fa fa-eye"></i></button></td>
</tr>
<tr>
    <td hidden="hidden">#</td>
    <td>J.K Rowling</td>
    <td>Harry Potter - Fantastic Beasts: Secrets of Dumbledor</td>
    <td title="View Content"><button action="api/view/${locals.writer.id}" class="btn btn-sm btn-outline-primary"><i class="fa fa-eye"></i></button></td>
</tr>
<tr>
    <td hidden="hidden">#</td>
    <td>Andrew Wommack</td>
    <td>You've Already Got! - Quit trying to get it</td>
    <td title="View Content"><button action="api/view/${locals.writer.id}" class="btn btn-sm btn-outline-primary"><i class="fa fa-eye"></i></button></td>
</tr>