<div class="card">
    <header class="card-header h4">
        <i class="fa fa-clock text-info"></i>
        <!-- <%= article.Publication.title %> -->
    </header>
    <div class="card-body mb-2">
        <!-- <%= article.Publication.story %> -->
            <hr />
            <div class="d-flex justify-content-between">
                <div class="tags">
                    <!-- <% article.Publication.tags.forEach((tag)=>{ %>
                        <span class="badge rounded-pill primary text-white m-1">
                            <%= tag %>
                        </span>
                        <% }); %> -->
                </div>
                <div class="actions">
                    <a href="" class="btn btn-success btn-sm m-1"></a>
                    <a href="" class="btn btn-danger btn-sm m-1"></a>
                </div>
            </div>
    </div>
    <div class="card-footer text-muted text-center">
        &copy;2022. All rights reserved |
        <small class="text-info">
            Powered by
            <i class="fa fa-signature mx-1 text-primary"></i>
            eWriter
        </small>
    </div>
</div>