<div class="view card col-md-6">
    <header class="card-header h4">
        <i class="fa fa-pen text-primary"></i>
        Write a Post
    </header>
    <div class="card-body mb-2">
        <form>
            <div class="row g-3 mb-2">
                <label for="author" class="label">Author</label>
                <div class="col-md-6">
                    <input type="text" id="firstname" placeholder="First Name" class="form-control input-sm">
                </div>
                <div class="col-md-6">
                    <input type="text" id="lastname" placeholder="Last Name" class="form-control input-sm">
                </div>
            </div>
            <div class="form-group mb-2">
                <label for="content-title" class="label">Title</label>
                <input type="text"
                    placeholder="ex: Tales By Moonlight"
                    id="title"
                    class="form-control input-sm">
                </div>
            <div class="form-group mb-2">
                <label for="content" class="label">Description</label>
                <textarea
                    placeholder="The words of a ready writer"
                    class="form-control input-sm" id="content"></textarea>
            </div>
            <div class="input-group mb-2">
                <input 
                    type="text"
                    id="tag-name"
                    class="form-control input-sm" 
                    placeholder="Enter tag + Click 'Add'"
                    aria-describedby="button-addon2">
                <button 
                    class="btn btn-info" 
                    type="button"
                    id="add-tag">
                    <i class="fa fa-plus-circle text-white"></i> 
                    Add
                </button>
              </div>
            <div class="form-group mb-2">
                <div id="tag-list">

                </div>
            </div>
            <div class="form-group">
                <button 
                class="btn btn-sm mt-2 btn-outline-info" 
                type="button"
                id="publish">
                Post Content
            </button>
            </div>
            
        </form>
    </div>
    <div 
        class="card-footer text-muted text-center">
        &copy;2022. All rights reserved | 
        <small class="text-info">
            Powered by 
            <i class="fa fa-signature mx-1 text-primary"></i>
            eWriter
        </small>
    </div>
</div>

<script src="components/new/new.component.js"></script>