$primary: #008080;
$dark: #333333;
$default: #e2e2e2;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin bg-theme($theme: $default) {
    box-shadow: 0 1px 10px $dark !important;
    background: $theme !important;
}

.bg-teal {
    @include bg-theme($theme: $primary);
    color:#fff;
}

.bg-dark {
    @include bg-theme($theme: $dark);
    color: #fff
}

.bg-default {
    @include bg-theme();
}

.bg-none {
    @include bg-theme($theme: none);
}

.center {
    // position: absolute;
    display: flex;
    height: 90%;
}

.bg-image {
    position: absolute;
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.opacity{
    filter: opacity(.5);
}
.opacity-min{
    filter:opacity(.7);
}