<div class="view card col-md-10">
    <header class="card-header h4">
        <i class="fa fa-clock text-info"></i>
        Most Recent Posts
    </header>
    <div class="card-body mb-2">
        <table class="table table-striped table-responsive table-info">
            <thead>
                <tr>
                    <td>Author</td>
                    <td>Title</td>
                    <td>Date Published</td>
                    <td><i class="fa fa-cog fa-spin"></i></td>
                </tr>
            </thead>
            <tbody id="authors">
               <!-- Shall be rendered from server side with a view engine -->
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted text-center">
        &copy;2022. All rights reserved |
        <small class="text-info">
            Powered by
            <i class="fa fa-signature mx-1 text-primary"></i>
            eWriter
        </small>
    </div>
</div>
<script src="components/view-all/view-all.component.js"></script>